{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.btn-ig {
  display: block;
  margin: 35px auto 0;
  padding: 14px 30px;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(135deg, #87faf8, #5ee7e5);
  color: #333;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-ig:hover {
  transform: translateY(-4px) scale(1.05);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}